//imports

@import 'q-input.scss';
@import 'q-list.scss';

// scss

.container {
  max-width: 30rem;
}

// helper/hacking classes

.highlight {
  position: absolute;
  left: 0;
  bottom: 10px;
  background-color: $prevent;
  color: transparent;
  z-index: -1;
  font-size: 15px;
}

.hide {
  visibility: hidden;
}
