// Quasar SCSS (& Sass) Variables
// --------------------------------------------------


// Websupport colors

$ws-gem    : #2FD17D;
$ws-navy   : #2C3843;

// additional colors

$prevent    : #FEE6E0;

$primary   : $ws-gem;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

.text-ws-navy {
  color: $ws-navy;
}

.bg-ws-navy {
  background: $ws-navy;
}

.text-ac-prevent {
  color: $prevent;
}

.bg-ac-prevent {
  background: $prevent;
}
